<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:label="Vaeloria OOC 0.9.1"
        android:icon="@drawable/ic_vaeloria"
        android:roundIcon="@drawable/ic_vaeloria"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name="lt.vaeloria.ooc.MainActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="lt.vaeloria.ooc.SafeGameActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="lt.vaeloria.ooc.SafeLauncherActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="lt.vaeloria.ooc.StatsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name="lt.vaeloria.ooc.VaeloriaActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity
            android:name="lt.vaeloria.ooc.PolishedActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
